/.project
/.settings
/.DS_Store
**/.project
**/.settings/
**/.classpath
**/target
**/.DS_Store
/bin/
**/node_modules
**/logback.xml
**/.log
.idea
/.log
/Users/이상휘/eclipse-workspace/log/codingvirus19/exception.log
