* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

[aria-label]:after {
  content: attr(aria-label);
  display: none;
  position: absolute;
  z-index:10000;
  background-color: hsla(64, 73%, 39%, 0.725);
  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
}

[aria-label]:hover:after{
  display:  block;
  padding: 1px;
}

button {
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: inline-block;
}