  $bgcolor: #0747A6;
  $yellow: #f3f5f6;
  $subcolor: #3a3b45;
  $blue: #DEEAFF;

  $contentColor:#ffffff;
  
  //rgba(185, 237, 247, 0.404);
  $gradient-bg: linear-gradient(90deg, $blue, $yellow);
  $transparent-gray: rgba(0, 0, 0, 0.3);
  $transparent-white: rgba(255, 255, 255, 0.15);

.sidebar {
	display: inline-block;
	width: 4rem;
	// after는 11rem으로!!
	height: 100%;
	-webkit-box-shadow: 0 0 16px rgba(0,0,0,.28);
	box-shadow: 0 0 16px rgba(0,0,0,.28);
	background-color: $bgcolor;
  }
.sidebar__menu{
	position: absolute;
	width: 17rem;
	// after는 11rem으로!!
	height: 100%;
	background-color: $bgcolor;
	left: 64px;
	z-index: 1;
	top: 0px;
	overflow: hidden;
	overflow-y: scroll;

	.sub-menu{
		list-style: none;
		width: 100%;
		padding-left: 20px;
		.submenu-item{
			width: 92%;
			height: 47px;
			padding: 11px;
			padding-left: 21px;
			color:$contentColor;   
			
			a{
				color: white;
			}
		}
		.submenu-item:hover{
			background-color: #073D8D;
			border-radius: 0.5rem;
		}
	}

}

.submenu-item__span1{
	font-size: 22px;
    margin-right: 15px;
}

.submenu-item__span2{
	font-size: 18px;
}

  *,
  *::before,
  *::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
  
  body {
	background: $gradient-bg;
	font-family: "Montserrat", sans-serif;
  
	// For codepen only
	height: 100vh;
  }
  
  .sidebar__menu__title-container{
	width:100%;
	// background-color: $bgcolor;
	height: 11%;
	padding: 12%;
	padding-left: 15%;

	.container__title{
		color:white;
		width: 80%;
		height: 32px;
		font-size: 32px;
	  }
	
	.menu-item{
		height:30px;
	}
  }
  
  .nav{
	  height: 98%;

  }
  
  .menu {

	ol {
	  list-style: none;
	  padding: 0;
	  margin: 0;
  
	  &:first-child {
		width: 100%;
		max-width: 960px;
		margin: 1rem auto 0 auto;
		grid-template-columns: repeat(5, 1fr);
		align-items: center;
	  }
	}
  
	&-item {
	  display: flex;
	  align-items: center;
	//   border-top: 2px solid $blue;
	  position: relative;
	  transition: background 0.3s ease-in-out;
  
	  &:nth-child(1) > a::before {
		content: "\f007";
	  }
  
	  &:nth-child(2) > a::before {
		content: "\f0c0";
	  }
  
	  &:nth-child(3) > a::before {
		content: "\f292";
	  }
  
	  @for $i from 1 through 5 {
		&:nth-child(#{$i}) > a::before {
		  font-family: "Font Awesome 5 Free";
		  font-size: 1.2rem;
		  display: block;
		//   margin-bottom: 0.5rem;
		  font-weight: 900;
		  -moz-osx-font-smoothing: grayscale;
		  -webkit-font-smoothing: antialiased;
		  display: inline-block;
		  font-style: normal;
		  font-variant: normal;
		  text-rendering: auto;
		  line-height: 1;
		//   color: $blue;
  
		  @media (min-width: 768px) {
			font-size: 1.3rem;
		  }
		}
	  }
  
	  .sub-menu > a {
		color: red;
	  }
  
	  &:not(:last-child) {
		border-right: 1px solid $transparent-white;
	  }
  
	  .sub-menu {
		// position: absolute;
		// top: 100%;
		// width: 412%;
		// height: 1300%;
		// transform-origin: top;
		// transform: rotateX(-90deg);
		// transition: transform 0.3s linear;
		// background-color: $yellow;
		// z-index: 1;
		// top: -130%;
		// left: 4rem;
		-webkit-box-shadow: 0 0 4px rgba(0,0,0,.28);
		box-shadow: 0 0 4px rgba(0,0,0,.28);
  
		//그룹들
		.menu-item {

		  border-color: $transparent-white;
		  &:hover {
			  background-color: #ebecf0;
			a {
			  color: #0052cc;
			}
		  }
  
		  a {
			// color: $subcolor;
			padding: 0.3rem;
		  }
		  a::before {
			content: "";
		  }
  
		  &:first-child {
			border: 0;
		  }
		}
	  }
  
	  //해시태그
	  .sub-menu2 {
		position: absolute;
		top: 100%;
		width: 100%;
		transform-origin: top;
		transition: transform 0.3s linear;
		background-color: #3a60c9;
		z-index: 1;
  
		.menu-item {
		  border: 0;
		  a {
			padding: 0.3rem;
		  }
		  a::before {
			content: "";
		  }
		}
	  }
  
	  &:hover {
		border-top: 2px solid #3a60c9;
		background-color: $transparent-white;
		cursor: pointer;

		a::before {
		  color: white;
		}
	  }
  
	  &:hover .sub-menu {
		transform: rotateX(0deg);
		cursor: pointer;
	  }
  
	  a {
		font-size: 0.8rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #fff;
		text-decoration: none;
		height: 100%;
		width: 100%;
		padding: 1em 0.5em;
  
		@media (min-width: 768px) {
		  font-size: 1rem;
		}
	  }
	}
  }