.sidebar {
  display: inline-block;
  width: 11%;
  height: 90%;
  min-width: 1rem;
  background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
  padding-top: 0.668rem;
}

.nav {
  text-align: center;
  color: #fff;
  margin-top: 0.188rem;
  padding-bottom: 0.313rem;
}

.menu, .hashlist, .hashtagList {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
  position: relative;
  font-size: 0.85rem;
  border-radius: 0.35rem !important;
  line-height: 1.5rem;
  color: #3a3b45;
  text-decoration:none;
  text-align: center;
  z-index: 1;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

.menu a {
    color: #3a3b45;
}

.groupmenu {
  width: 100%;
  background-color: #fff;
  padding: 0.2rem 1rem;
  border-bottom: #3a3b45;
}

.hashtagList {
  margin: 0.3rem;
  background-color: #fff;
}

