.toolbarSize {
  min-height: 1.8rem;
  min-width: 12rem;
}

.toolbar {
  min-height: 1.8rem;
  min-width: 12rem;
  animation: fadein 0.5s;
  -moz-animation: fadein 0.5s; /* Firefox */
  -webkit-animation: fadein 0.5s; /* Safari and Chrome */
  -o-animation: fadein 0.5s; /* Opera */
}

.popover {
  position: absolute;
  z-index: 10;
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.tool {
  margin: 4% 5% 2% 5%;
  background: none;
}

.faExternalLinkAlt,
.faShareSquare,
.faPalette,
.faHashtag,
.faSave,
.faFileUpload,
.faTrashAlt {
  font-size: large;
  color: #24252b;
  background: none;
}

.faExternalLinkAlt:hover,
.faShareSquare:hover,
.faPalette:hover,
.faHashtag:hover,
.faSave:hover,
.faFileUpload:hover,
.faTrashAlt:hover {
  border-radius: 50%;
  color: black;
  background-size: 3rem;
  background-color: rgba(0,0,0,0.09);
}

.colorSelcet {
  width: 100px;
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
