.toolbar {
  min-height: 1.8rem;
  min-width: 12rem;
}

.popover {
  position: absolute;
  z-index: 10;
  transform: translate(1.4rem, 0.6rem);
}

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.tool {
  margin: 3px 5px 0px 5px;
  background: none;
}

.faExternalLinkAlt,
.faShareSquare,
.faPalette,
.faHashtag,
.faSave,
.faFileUpload,
.faTrashAlt {
  font-size: large;
  color: #24252b;
  background: none;
}

.colorSelcet {
  width: 100px;
}
