.menu {
  background-color: #fff;
  width: 10rem;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  text-align: center;
  right: auto;
  bottom: auto;
  top: 0px;
  left: 0px;
  padding: 2px 0;
  transform: translate(-133.6px, 60.8px);
  z-index: 1;
}

.item, .item2{
  color: #000;
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 5px 0;
    /* border-bottom: 1px solid #3A60C9; */
    padding: 3px 0;
}
.item2{
  border-top: 1px solid #3A60C9;
  padding: 8px 0 0;
}