@media (max-width:768px) { 
    .position{
        padding: 17px 13px 13px 19px;
        padding: 9px;
        height: 2.4rem;
        display: inline-block;
        width: 2.4rem;
    }
  }
  @media (min-width:768px) { 
    .position{
        padding: 17px 13px 13px 19px;
        padding: 9px;
        margin: 9px;
        height: 2.4rem;
        display: inline-block;
        width: 2.4rem;
    }
  }

.position:hover{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.08);
}

.position:active{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.08);
}
.button{
    background: none;
}

.group{
   font-size: 21px;
}

.color{
    z-index: 10;
    position: absolute;
    top: 85%;
}