.position{
    padding: 17px 13px 13px 19px;
    padding: 9px;
    margin: 9px;
    height: 2.4rem;
    display: inline-block;
    width: 2.4rem;
}
.position:hover{
    /* border: 1px solid #0747A6; */
    border-radius: 0.5rem;
    background-color: #2C62B3;
    box-shadow: gray 1px 1px 1px 1px;
}
.button{
    background: none;
    /* width: 14%;
    height: 13%; */
    color: white;
}

.button:active{
    background: gray;
}

.group{
   font-size: 21px;
}

.color{
    z-index: 10;
    position: absolute;
    top: 85%;
}