.editor {
    width: 100%;
    height: 90%;
    margin: 0 auto;
    /* border: 1px solid #020202; */
    border-radius: 1rem;
  }

  .btn {
    /* border-bottom: 1px solid #020202; */
    width: 100%;
    height: 60px;
  }

  .btn .button{
    width: 12.2%;
    height: 75%;
    margin: 1%;
    border-radius: 10rem;
  }
  .click{
    background-color: lightcoral;
  }
  .btn .button:hover{
    background-color: lightcoral;
  }

  .edit {
    width: 100%;
    height: 90%;
    padding:3%;
    resize: none;
    border:0;
  }

  .markDownView {
    width: 100%;
    height: 90%;
    padding:3%;
    border-radius: 1rem;
    WORD-BREAK: break-all;
  }

 
  .btn{
    background: no-repeat;
  }
.faPalette{
  display: inline;
}
.toolbar{
  position: absolute;
  width: 100%;
  /* text-align: center; */
  /* border-top: 1px solid; */
}
.file_UpLoad{ 
  width:40%;
}
.file_UpLoad:no-button{
  width:8%;
}