.editor {
    width: 100%;
    height: 84%;
    margin: 0 auto;
    /* border: 1px solid #020202; */
    border-radius: 1rem;
  }

  .btn {
    /* border-bottom: 1px solid #020202; */
    width: 100%;
    height: 60px;
    padding: 6px;

  }

  .btn .button{
    width: 2.4rem;
    height: 2.4rem;
    margin: 13.1px;
    background: none;
    font-family: serif;
    border-radius: 0.6rem;
  }
  .click{
    background-color: lightcoral;
  }
  .btn .button:hover{
    box-shadow: gray 1px 1px 1px 1px;
  }

  .edit {
    width: 100%;
    height: 90%;
    padding:3%;
    resize: none;
    border:0;
  }

  .markDownView {
    width: 100%;
    height: 90%;
    padding:3%;
    border-radius: 1rem;
    WORD-BREAK: break-all;
  }

 
  .btn{
    background: no-repeat;
  }
.faPalette{
  display: inline;
}
.toolbar{
  position: absolute;
  width: 100%;
  /* text-align: center; */
  /* border-top: 1px solid; */
}
.file_UpLoad{ 
  width:40%;
}
.file_UpLoad:no-button{
  width:8%;
}

.ctbutton{
  width: 2rem;
  height: 2rem;
  margin: 5px;
  border-radius: 0.6rem;
  background: none;
}
.ctbutton:hover{
  box-shadow: gray 1px 1px 1px 1px;
}
.ctbtn{
  width: 100%;
  padding: 9px 9px 2px 9px;
  border-bottom: 1px solid #020202;
}