.editor {
  width: 100%;
  height: 84%;
  margin: 0 auto;
  /* border: 1px solid #020202; */
  border-radius: 1rem;
}

.btn {
  /* border-bottom: 1px solid #020202; */
  width: 100%;
  height: 60px;
  padding: 6px;

}

.btn .button{
  width: 2.4rem;
  height: 2.4rem;
  margin: 6px;
  margin-right: 10px;
  background: none;
  border-radius: 50%;
}
.click{
  background-color: lightcoral;
}
.btn .button:hover{
  background-color: rgba(0, 0, 0, 0.08);
}

.btn .button:active{
  background-color: rgba(0, 0, 0, 0.08);
}

.edit {
  width: 100%;
  height: 90%;
  padding:3%;
  resize: none;
  border:0;
}

.markDownView {
  width: 100%;
  height: 90%;
  padding:3%;
  border-radius: 1rem;
  WORD-BREAK: break-all;
}

.btn{
  /* background: no-repeat; */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-left: 40px;
}

.faPalette{
  display: inline;
}

.toolbar{
  position: absolute;
  width: 100%;
  height: 58px;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left: 4px;
}

.file_UpLoad{ 
  width:40%;
}

.file_UpLoad:no-button{
  width:8%;
}

.ctbutton{
  width: 2rem;
  height: 2rem;
  margin: 5px;
  border-radius: 50%;
  background: none;
}

.ctbutton:hover{
  background-color: rgba(0, 0, 0, 0.08);
}

.ctbutton:active{
  background-color: rgba(0, 0, 0, 0.08);
}

.ctbtn{
  width: 100%;
  padding: 9px 9px 2px 9px;
}

.userList{
  position: absolute;
  width: 70px;
  height: 450px;
  top: 50%;
  left: 50%;
  transform: translate(257%, -67%);
  border-radius: 1rem;
  animation: fadein 0.3s;
  -moz-animation: fadein 0.3s; /* Firefox */
  -webkit-animation: fadein 0.3s; /* Safari and Chrome */
  -o-animation: fadein 0.3s; /* Opera */
}
.users{
  height: 62px;
  width: 62px;
  margin: 50px auto;
  border-radius: 38px;
}

.userImage{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.userWriteImage{
  box-shadow: blue 2px 2px 2px 2px;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  border-radius: 50%;
}


@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}