.ChatBox {
    width: 25%;
    height: 100%;
    min-width: 15rem;
    border-radius: 0.1rem;
    background-color: white;
    overflow: auto;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
    animation-duration: 0.8s;
    animation-name: slidein;
}
@keyframes slidein {
	from {
		transform-origin: top;
		transform: rotateX(90deg);
	}
  
	to {
		transform-origin: top;
		transform: rotateX(0deg);
	}
  }
.chat_title {
    font-size: 1.4rem;
    font-weight: 900;
    padding: 0.8rem;
}

.chatList {
    padding: 0.3rem 0.3rem 0 2%;
    text-align: start;
    height: 4.5rem;
}

.chatList:first-child {
    margin-top: 20px;
}

.chatList:hover {
    background-color: rgba(0,0,0,0.08);
}

.image_div {
    height: 100%;
    width: 4rem;
    float: left;
    position: relative;
    display: inline-block;
}

.img1 {
    width: 100%;
    height: 100%;
    max-height: 4rem;
    border-radius: 50%;
}

.img2 {
    width: 70%;
    max-width: 2.8rem;
    height: 70%;
    max-height: 2.8rem;
    position: absolute;
    left:0.2rem;
    top:0.2rem;
    /* border: white 0.2rem solid; */
    border-radius: 50%; 
}

.img3 {
    width: 70%;
    max-width: 2.8rem;
    height: 70%;
    max-height: 2.8rem;
    position: absolute;
    right: 0.2rem;
    bottom: 0.2rem;
    /* border: white 0.2rem solid; */
    z-index: 1;
    border-radius: 50%; 
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name{
    display: inline-block;
    width: 70%;
    padding-left: 3%;
    margin-top: 0.7rem;
}

.gname {
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
}

.member_number {
    display: inline-block;
    color: #888;
    font-size: 0.95rem;
    padding-left: 3%;
}

.gmember{
    display: inline-block;
    width: 70%;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.63);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chatalarmbell{
    font-size: 0.8rem;
    color: #fff;
    display: inline-block;
    float: right;
    position: relative;
}

.chatalarmbell2{
    position: relative;
    display: flex;
    padding: 0 3px;
    border: 0.1rem solid red;
    border-radius: 50%;
    background-color: red;
}