.Chatting {
  overflow: hidden;
}

.top{
  width: 100%;
  height: 6%;
  min-height: 3rem;
  border-bottom: 1px solid #dbdbdb;
  padding: 0.2rem;
}

.image_div {
  height: 100%;
  width: 2.8rem;
  float: left;
  position: relative;
  display: inline-block;
}

.img1 {
  margin: 0.1rem;
  height: 90%;
  border-radius: 50%;
}

.img2 {
  height: 70%;
  position: absolute;
  left: 0.1rem;
  top: 0.1rem;
  /* border: white 0.2rem solid; */
  border-radius: 50%; 
}

.img3 {
  height: 70%;
  position: absolute;
  right: 0.1rem;
  bottom: 0.1rem;
  /* border: white 0.2rem solid; */
  z-index: 1;
  border-radius: 50%; 
}

.title{
  display: inline-block;
  font-size: 1rem;
  padding-top: 0.7rem;
  height: 100%;
}

.group_name {
  display: inline-block;
}

.member_number {
  display: inline-block;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
}

.close {
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  margin-left: 5%;
  margin: 4%;
  float: right;
}

.close:hover {
  background-color: rgba(0,0,0,0.08);
}

.close:hover .back_btn {
  opacity: 1.0;
}

.back_btn {
  width: 1rem;
  height: 1rem;
  opacity: 0.7;
}

.chatOutput {
  padding: 3% 3% 0 3%;
  height: 87%;
  width: 99%;
  margin-right: 0.3rem;
  display: block;
  z-index: 2;
  background-color: white;
  overflow-y: scroll;
  overflow: auto;
}

.chatInput {
  min-width: 2rem;
}