.card__header{
    margin-bottom: 1.3px;
    background-image: linear-gradient(180deg, #4e73df 10%, #224abe 100%);
}

.collapse:not(.show) {
    display: none;
  }

.chatroom_name{
  text-align: center;
  color:#FFF
}