.mychat {
  margin: 0 0rem 0.5rem 2.6rem;
  list-style: none;
  padding-left: 0px;
  text-align: right;
}

.mychat_message {
  display: inline-block!important;
  border-radius: 10px;
  background-color: #3a60c9;
  padding: 0.5rem 0.7rem;
  font-size: 13px;
  font-weight: 500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.otherchat {
  margin: 0 2.6rem 0.5rem 0;
  list-style: none;
  padding-left: 0px;
  text-align: left;
}

.otherchat_profile_image{
  width: 2.5rem;
  height: 2.5rem;
  float: left;
}

.profile_image{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.otherchat_message {
  display: inline-block!important;
  border-radius: 10px;
  background-color: #cfd2d8;
  padding: 0.5rem 0.7rem;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.time, .otherchat_time {
  color: #666;
}

.otherchat_time {
  margin-left: 2.5rem;
}

.otherchat_nickname {
  font-size: 13px;
  font-weight: 600;
}

.chat__messagelist li div {
  word-break: break-all;
  /* display: inline-block; */
}
