.inputTable {
  margin: auto;
}

.MessageBox {
  margin-top: 2%;
  margin-bottom: 2%;
  border: 1px solid #cccccc;
  border-width: 1px;
  border-radius: 25px;
  height: 90%;
}

.Message {
  border: none;
  font-size: 0.9rem;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  height: 90%;
  padding: 0rem 0.8rem;
  width: 80%;
}

.faPaperPlane {
  font-size: 1.5rem;
}

.button {
  z-index: 1;
  background-color: #3a60c9;
  color: #cccccc6b;
  width: 15%;
  height: 1.6rem;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.button2 {
  z-index: 1;
  background-color: #3a60c9;
  color: white;
  width: 15%;
  height: 1.6rem;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button2:active {
  background-color: #2f4fa8;
}
