$iconcolor: #3a3b45;
$hover_bgcolor:rgba(0,0,0,0.08);
$hover_iconcolor: #000000;

@media (max-width: 768px) {
  .header {
    height: 10%;
    width: 100%;
    min-height: 57px;
    display: inline-flex;
    align-items: center;
    z-index: 0;
    min-width: 370px;
  }
  .title {
    margin-right: 0.5rem;
    min-width: fit-content;
    font-size: 0.8rem;
  }
  .faUserPlus {
    font-size: 1.5rem;
    color: $iconcolor;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: transform 0.3s linear;
  }
  .invite {
    margin-right: 0.5rem;
  }
}
@media (min-width: 768px) {
  .header {
    height: 10%;
    width: 100%;
    min-height: 57px;
    display: inline-flex;
    align-items: center;
    padding-left: 4%;
    z-index: 0;
    min-width: 370px;
  }
  .title {
    margin-right: 1.5rem;
    min-width: fit-content;
  }
  .faUserPlus {
    font-size: xx-large;
    color: $iconcolor;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: transform 0.3s linear;
  }
  .invite {
    margin-right: 1rem;
  }
}


.btns{
  background: none;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  transition: transform 0.3s linear;
  &:hover, &:active {
    background-color:$hover_bgcolor;
    .faUserPlus {
      color: $hover_iconcolor;
    }
  }
}

.groupOut{
  width: 20%;
  align-items: center;
  display: inline-flex;
  padding-left: 4rem;
  height: 8%;
}

.groupOutButton{
  min-width: 5rem;
  height: 2.5rem;
  background-color: #ea232c;
  border-radius: 0.25rem;
  color: #f5f5f5;
  margin-right: 1rem;
  &:hover{
    background-color: rgb(211, 122, 167);
    box-shadow: gray 1px 1px 1px 1px;
  }
  &:active{
    background-color: rgb(89, 130, 234);
    box-shadow:none;
  }
}