.contents {
  display: inline-block;
  position: absolute;

  left: 4rem;

  right: 0rem;
  top: 20px;
  height: 100%;
}

.box{
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.contentsMemo{
  /* 90%에서 footer 빼면 100%로 바꿈 */
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar-track:hover{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


::-webkit-scrollbar-track
{
  /* background-color: transparent; */
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 7px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color:rgba(0,0,0,0.13);
}
