.groupUserList{
    width: 50%;
    height: 80%;
    display: inline-flex;
    align-items: center;
}
.users{
    list-style: none;
    margin: 0 1rem;
    align-items: center;
    text-align: center;
}
.users li{
    border: 0;
    color: #000;
}
.userNotLogin{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #666;
}

.userImage{
    overflow: hidden;
    width: 45px;
    height: 40px;
    border-radius: 50%;
}
.userInLogin{
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: springgreen;
}