.hashlist {
  padding: 3px 0px;
}

.hash {
  margin: 0.1rem;
  max-width: 11rem;
  min-width: 3rem;
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.13);
  border-radius: 8px;

  .hash_name {
    padding-right: 0.2rem;
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  &:hover 
  .delete_btn {
  display: inline-block;
  }
}

.delete_btn {
  height:100%;
  padding: 0rem;
  display: none;
}

.faTimesCircle {
  background: none;
}

.hash_delete_btn {
  background-color: rgba(0,0,0,0.0);
}
