.hashlist {
    padding: 3px 0px;
    display: flex;
  }

  .hash {
    margin: auto 4px;
    width: 70px;
    max-width: 150px;
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid rgba(170, 155, 155, 0.452);
    background-color: rgb(226, 226, 226);
    border-radius: 8px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }